*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#FFF6C8;

}

#inicio{

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

height:100vh;

padding:30px;

text-align:center;

}

.logo{

width:220px;

margin-bottom:40px;

}

h1{

color:#1F5A33;

font-size:34px;

margin-bottom:15px;

}

p{

color:#555;

line-height:1.5;

}

button{

margin-top:40px;

background:#1F5A33;

color:white;

border:none;

padding:18px 40px;

border-radius:40px;

font-size:20px;

}

#juego{

padding:20px;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

}

.logoMini{

width:110px;

}

.score{

background:#DDF2D8;

padding:10px 20px;

border-radius:20px;

font-weight:bold;

}

.nivel{

margin-top:20px;

font-weight:bold;

}

.barra{

height:12px;

background:#ddd;

border-radius:20px;

margin:15px 0;

overflow:hidden;

}

#progreso{

width:0%;

height:100%;

background:#58B66B;

}

.tarjeta{

background:white;

border-radius:35px;

padding:35px;

text-align:center;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

#emoji{

font-size:90px;

margin-bottom:20px;

}

.tachos{

display:flex;

gap:15px;

margin-top:30px;

}

.tacho{

flex:1;

border-radius:30px;

padding:35px;

text-align:center;

font-size:50px;

color:white;

}

.organico{

background:#59B86B;

}

.inorganico{

background:#8C8C8C;

}
html, body{
    width:100%;
    overflow-x:hidden;
    margin:0;
    padding:0;
}

*{
    box-sizing:border-box;
}

.card {
    min-height: 80px;
}

.bin {
    height: 80px;
    font-size: 2rem;
}

.residue img {
    width: 85px;
}
